cascade_train
mushroom
robot
scaling_test
scaling_train
simple_test
simple_train
steepness_train
xor_fixed.data
xor_fixed.net
xor_float.net
xor_test
xor_test_fixed
xor_train
cascade_train_debug
xor_test_debug
xor_test_fixed_debug
xor_train_debug

cascade_train_local
mushroom_local
robot_local
scaling_test_local
scaling_train_local
simple_test_local
simple_train_local
simple_train_conv_local
test_setup_speed_conv_local
steepness_train_local
xor_fixed.data_local
xor_fixed.net_local
xor_float.net_local
xor_test_local
xor_test_fixed_local
xor_train_local
cascade_train_debug_local
xor_test_debug_local
xor_test_fixed_debug_local
xor_train_debug_local
